<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!-- Be sure to flush latest logs on exit -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%t] [%c{1}]\(%F:%L\) %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger level="INFO" name="app"/>
  <logger level="INFO" name="net"/>
  <logger level="INFO" name="backup"/>
  <logger level="INFO" name="discover"/>
  <logger level="INFO" name="crypto"/>
  <logger level="INFO" name="utils"/>
  <logger level="INFO" name="actuator"/>
  <logger level="INFO" name="API"/>
  <logger level="INFO" name="witness"/>
  <logger level="INFO" name="DB"/>
  <logger level="INFO" name="capsule"/>
  <logger level="INFO" name="VM"/>

</configuration>